html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
.textCenter {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
#info {
  right: 2%;
  bottom: 5.5%;
}
#score {
  top: 1%;
  left: 0%;
  width: 100%;
}
#grooveContainer {
  right: 0%;
  top: 20%;
}
#timeLine {
  top: 1.5%;
  left: 12.5%;
  width: 3px;
  margin-top: 4%;
  height: 60px;
  background-color: red;
  z-index: 150;
}
#play {
  top: 12.5%;
  left: 2.5%;
}
#freePlay {
  bottom: 5.5%;
  left: 2.5%;
}
.paperHeight {
  height: 55%;
}
@media (min-width: 800px) and (orientation: landscape) {
  #score {
    left: 20%;
    width: 60%;
  }
  #play {
    top: 2%;
    left: 85%;
  }
  #grooveContainer {
    top: 70%;
  }
  #freePlay {
    bottom: 80%;
  }
  #info {
    right: 90%;
  }
  #timeLine {
    left: 27%;
  }
}
