html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
.w-100 {
  width: 100%;
}
#info {
  right: 2%;
  bottom: 2%;
}
#score {
  top: 1%;
  left: 25%;
  width: 50%;
}
#timeLine {
  top: 1.5%;
  left: 31%;
  width: 3px;
  margin-top: 1.9%;
  height: 90px;
  background-color: red;
  z-index: 150;
}
#play {
  top: 1%;
  right: 2.5%;
}
